
@media(max-width: 1399px){


}
@media(max-width: 1199px){

 }
@media(max-width: 991px){
	html{
        font-size: 50%;
    }			    
    .navbar-collapse {
        align-items: center;
        width: 25%;
        display: flex;
        justify-content: center;}
    .spider_section {
        display: none;
    }
    .blog_content ul {
        display: none;
    }



}

@media(max-width: 767px){
    html{
        font-size: 37.5%;
    }
    .top_header {
    display: none;
        }
    .payment_history {
        display: none;
                    }
    .btn_custom {
    display: inline-block;
    width: 20%;
    margin-right: 20px;
        }
.social_link {
    padding-bottom: 30px;
}
.simpl_img {
    display: none;
}
.carousel-item{
    display: none;
    height: 0;
}

}
/*// X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {


 }
